h1 {
  color: red;
  /*border-color:purple;
  border-width: 5px;
  border-style: solid;*/
  border: 2px solid rgb(255,100,80)
  /*Needs width, color, and style attributes*/
}

h4 {
  color: blue;
}

li {
  color: green;
}

body {
  /*background: pink;*/
  background: url(http://staticdelivery.nexusmods.com/mods/120/images/442-2-1226780166.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
